.logo {
    max-height: 100px;
    max-width: 100px;
}

.logo-thumb {
    max-height: 75px;
    max-width: 75px;
}

.sidebar {

    background-color: #F2F2F2;

}

#productWrap {
    padding-top: 100px;
}

main {display:block;}