.logo {
    max-height: 100px;
    max-width: 100px;
}

.logo-thumb {
    max-height: 75px;
    max-width: 75px;
}

.sidebar {

    background-color: black;

}

#productWrap {
    padding-top: 100px;
}

main {display:block;}


.ribbon {
	position: absolute;
 	top: 0;
 	right: 0;
}