{% load staticfiles%}
{% load zinnia_tags i18n %}
{% load tkd_tags %}


<div class="row"> 
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist" id="clubNav">
            <li class="active">
                <a href="#beltakrofur" role="tab" data-toggle="tab">
                    Beltakröfur
                </a>

            </li>

            <li class="">
                <a href="#idkendur" role="tab" data-toggle="tab">
                    Iðkendur
                </a>

            </li>
            <li class="">
                <a href="#styrkleikalisti" role="tab" data-toggle="tab">
                    Styrkleikalisti
                </a>

            </li>

        </ul> 


    </div>  
</div>

    