{% block club_content %}

            {% for club in club_list %}
            
                <div class="col-xs-4">
                    <div class="thumbnail">
                      <img class="logo" src="{{ club.logo_url|default_if_none:'#' }}" alt="Do you have a logo for us?">
                      <div class="caption">
                        <h2>{{ club.short_name }}</h2>
                        <p>
                            <a href="{% url 'club_detail' club.slug %}" class="btn btn-primary" role="button">Meira</a>
                        </p>
                      </div>
                    </div>            
                </div>
                {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                {% endif %}
            {% endfor %}
{% endblock club_content %}            