{% load staticfiles%}
{% block jumbotron %}
    <div id="topWrap" class="jumbotron">
        <div class="container">
            <div class="col-md-6 col-md-push-6 jumboText">
                <h1>Responsive App Landing Page</h1>
                <h2>Bootstrap Based Responsive Landing Page Template.</h2>
                <a class="btn btn-lg btn-success actionBtn" href="#"><i class="fa fa-mobile fa-4x pull-left"></i><span class="line1">Available on the</span><br/><span class="line2">App Store</span></a>
            </div>
            <div class="col-md-6 col-md-pull-6 hidden-xs">
                <div class="mobile">
                    <div class="mobileSlider">
                        <ul class="slides">
                            <li>
                                <img src="{% static 'taekwondo/assets/img/screen1.jpg' %}"/>
                            </li>
                            <li>
                                <img src="{% static 'taekwondo/assets/img/screen2.jpg' %}"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock jumbotron %}