{% load staticfiles%}
{% load zinnia_tags i18n %}
{% load tkd_tags %}

{% url 'club_ list' as club_list_active %}
{% url 'tournament_list' as tournament_list_active %}
{% url 'member_list' as member_list_active %}
{% url 'rank_list' as rank_list_active %}


            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <map name="ribbon">
                        <area shape="poly" coords="0,0,150,150,150,0" href="http://github.com/busla/tki">
                    </map>
                    <img src="{% static 'taekwondo/images/corner_ribbon.png' %}" usemap="#ribbon" alt="FIS er ennþá í BETA" style="position:absolute;top:0;right:0;border:none;">

                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#">
                            FIS
                        </a>
                    </div>
                    <div class="collapse navbar-collapse appiNav">
                        <ul class="nav navbar-nav {% if not categories %}no-{% endif %}categories">
                            
                            
                            <li class="{% active request club_list_active %}"><a href="{% url 'club_list' %}">Félög</a></li>
                            <li class="{% active request tournament_list_active %}"><a href="{% url 'tournament_list' %}">Mót</a></li>
                            <li class="{% active request member_list_active %}"><a href="{% url 'member_list' %}">Iðkendur</a></li>
                            <li class="{% active request rank_list_active %}"><a href="{% url 'rank_list' %}">Styrkleikalisti</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

