{% load staticfiles%}
<div class="row">
    <div class="col-xs-12">
        <h2>Bardagar</h2>


        <table class="table table-condensed">
        <thead>
            <tr>            
                <th>
                    Bardaganúmer
                </th>        

                <th>
                    Blár
                </th>        
                <th>
                    Rauður
                </th>        
                <th>
                    Stig blár
                </th>        
                <th>
                    Stig rauður
                </th>        
                <th>
                    Sigurvegari
                </th>        
            </tr>
        </thead>
        <tbody>
        
        {% for fight in tournament_detail.fights %}


            <tr>
                <td>
                    {{ fight.fight_number }}
                </td>

                <td>
                    <a href="{% url 'member_detail' fight.blue_player.member.slug %}">{{ fight.blue_player }}</a>
                </td>
                <td>
                    <a href="{% url 'member_detail' fight.red_player.member.slug %}">{{ fight.red_player }}</a>
                </td>

                <td>
                    {{ fight.blue_points}}
                </td>

                <td>
                    {{ fight.red_points}}
                </td>


                <td>
                    {{ fight.winner }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        
        </table>
    </div>
</div>  

