{% extends "taekwondo/__l_club.html" %}
    

        
    {% block club_content %}
        <div class="col-xs-12">


        </div>    
            
        <div class="tab-content">
          
            <div class="tab-pane active" id="beltakrofur">
                <div class="row">        
                    
                    {% for grades in club_detail %}
                        {% for grade in grades.grade_requirements %}
                            <div class="col-xs-12">
                                    {{ grade }}</a></p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
          
            <div class="tab-pane" id="idkendur">
                <div class="row">        
                    
                    {% for members in club_detail %}
                        {% for member in members.members.all %}
                            <div class="col-xs-12">
                                    {{ member }}</a></p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>

        </div>            
            

    {% endblock club_content %}
    
