{% extends "taekwondo/__l_right_sidebar.html" %}

{% block main_col %}
    <div class="col-xs-12">
                <h1>{{ club_detail.name }}</h1>
                <img src="{{ club_detail.logo_url|default_if_none:'#' }}" />
                <p>{{ club_detail.description|safe }}</p>
                    {% for member in club_detail.members.all %}
                        <p>{{ member.name }}</p>
                    {% endfor %}
            
    </div>
{% endblock main_col %}
    
{% block side_col %}
    Some text
{% endblock side_col %}