{% extends "taekwondo/__l_right_sidebar.html" %}
{% load embed_video_tags %}

{% block main_col %}
    <div class="col-xs-12">
        <h1>{{ grade_detail.title }}</h1>
            <p>
                {{ grade_detail.description|safe }} 
            </p>
            
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <th>
                            Íslenska
                        </th>

                        <th>
                            Kóreska
                        </th>
                        <th>
                            Vídjó
                        </th>
                        <th>
                            Myndir
                        </th>
                        <th>
                            Tögg
                        </th>

                    </thead>

                        {% for item in grade_detail.items.all %}    
                            <tr>
                                <td>
                                    {{ item.title }}
                                </td>
                                <td>
                                    {{ item.title_translated }}
                                </td>

                                <td>
                                    {% for video in item.video.all%}
                                        {% video video.video as grade_video%}
                                            <a href="{{grade_video.url}}" title="{{ video.photo_description }}" class="html5lightbox"><i class="fa fa-youtube-play"></i></a>
                                            
                                            
                                        {% endvideo %}
                                    
                                        
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for photo in item.photo.all%}
                                            
                                    <a href="{{ photo.photo_url }}" title="{{ photo.photo_description}}" class="html5lightbox"><i class="fa fa-picture-o"></i></a>

                                    {% endfor %}
                                </td>
                                <td>
                                    {% for tag in item.tags.all%}
                                        <span class="label label-success">{{ tag.name }}</span>
                                    {% endfor %}

                                </td>

                            </tr> 
                        
                        {% endfor %}
                    
                </table>
            </div>



<!-- Button trigger modal -->


        <div class="row">
        
               
            
        </div>    
    </div>

{% endblock main_col %}
    
{% block side_col %}

    
{% endblock side_col %}

