{% extends "taekwondo/__l_club.html" %}
{% load embed_video_tags %}




{% block club_content %}        
    <div class="col-xs-12">
        <div class="row">        
            {% for grade_requirement in club_detail %}
            
                <div class="col-xs-12">
                        <p><a href="{% url 'grade_detail' slug=club_detail.slug grade=grade_requirement.slug %}" >{{ grade_requirement }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>    

{% endblock club_content %}

