{% extends "taekwondo/__l_right_sidebar.html" %}
{% load embed_video_tags %}

{% block main_col %}
    <div class="col-xs-12">
        <h1>{{ grade_detail.title }}</h1>
            <p>
                {{ grade_detail.description|safe }} 
            </p>
            
            
            {% for item in grade_detail.items.all %}    
                <p>
                    {{ item.title }}
                    {% for video in item.video.all %}
                    
                        <button class="btn btn-default" data-toggle="modal" data-target="#youtube-modal-{{ forloop.parentloop.counter }}">
                          <i class="fa fa-youtube-play"></i>
                        </button>

    <!-- Modal -->
                        <div class="modal fade" id="youtube-modal-{{ forloop.parentloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Loka</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{video.title}}</h4>
                              </div>
                              <div class="modal-body">
                                {% video video.video %}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Loka</button>
                              </div>
                            </div>
                          </div>
                        </div>                        
                    
                        
                    {% endfor %}


                </p> 
            
            {% endfor %}

            

            {% for item in grade_detail.items.video %}
                {% video item.video %}

            {% endfor %}

<!-- Button trigger modal -->


        <div class="row">
        
               
            
        </div>    
    </div>

{% endblock main_col %}
    
{% block side_col %}

    
{% endblock side_col %}
