{% extends "taekwondo/__l_right_sidebar.html" %}

{% block main_col %}
    {% block content_title %}
        <h2 class="sectionTitle">Iðkendur</h2>
    {% endblock content_title %}
    <div class="col-xs-12">
        <div class="row">
        
            {% for member in member_list %}
                <div class="col-xs-4"><img class="img-thumbnail" src="{{ member.photo_url|default_if_none:'http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png' }}" alt="Generic placeholder image">
                    <h2>{{ member.name }}</h2>
                    <p>{{ member.active_club }}</p>
                    <p>
                        <a class="btn btn-default" href="{% url 'member_detail' member.slug%}" role="button">Meira &raquo;</a>
                    </p>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock main_col %}