{% extends "taekwondo/__l_right_sidebar.html" %}

{% block main_col %}
<div class="row">
    <div class="col-xs-12">
        <img class="img-thumbnail" src="{{ member_detail.photo_url|default_if_none:'/media/members/photos/avatar.jpg' }}" alt="Generic placeholder image">
        <h1>{{ member_detail.name }}</h1>

        
        
        <p>{{ member_detail.active_club }}</p>
        

        {% include 'taekwondo/_member_tournament_fights.html' %}
    </div>    
</div>
{% endblock main_col %}