{% extends "taekwondo/base.html" %}

{% block content %}
{% block content_title %}<h2>Fréttir</h2>{% endblock content_title %}
    <div class="container marketing">
    <div class="row">
    {% for news in news_list %}
        <div class="col-lg-4"><img class="img-thumbnail" src="{{ news.image.url }}" alt="Generic placeholder image">
        <h2>{{ news.title }}</h2>
        <p><a class="btn btn-default" href="{% url 'news-detail' news.slug %}" role="button">Meira &raquo;</a></p>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
{% endblock content %}