{% extends "taekwondo/__l_right_sidebar.html" %}

{% block main_col %}
{% block content_title %}<h2>Mót</h2>{% endblock content_title %}


    <div class="col-xs-12">
        <div class="row">
    
    {% for tournament in tournament_list %}
        <div class="col-lg-4">
            <img class="img-thumbnail" src="{{ tournament.image_url|default_if_none:'http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png' }}" alt="Generic placeholder image">
            <h2>{{ tournament.title }}</h2>
            <p>
                <a class="btn btn-default" href="{% url 'tournament_detail' tournament.slug %}" role="button">Meira &raquo;</a>
            </p>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
        </div>
    </div>

{% endblock main_col %}